@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.headerlogo{
    font-size: 24px;
    color: #f9faf8;
    padding: 10px;
    align-self: center;
    font-weight: bold;
}

li a{
   text-decoration: none; 
   color: #f9faf8;
   font-size: 18px;
}

ul{
    padding: 10px;
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.hero{
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-around;
    padding: 20px;
}

.hero .text{
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    flex-wrap: wrap;
    flex-grow: 0;
    height: 300px;
    justify-content: center;
}

.hero .text .secondary{
    font-size: 18px;
    font-weight: normal;
    color: #e5e7eb
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    flex-grow: 0;
    width: 100px;
    align-self: center;
}

.imgplace{
    padding: 100px;
    background-color: gray;
    align-self: center;
    justify-self: center;
}

.randinfo{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    align-self: center;
    justify-self: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.randimg {
    max-width: 150px;
    flex-flow: column wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 350px;
    margin-bottom: 40px;
}

.image{
    justify-self: center;
    border: 5px solid #3882f6;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    padding: 25px;
    margin-bottom: 10px;
}

.imgcontainer{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.quotecontainer{
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    margin-top: 100px;
}

.quote{
    flex-grow: 1;
    flex-basis: 100%;
    margin-top: 30px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 100px;
    color: #1f2937;
    flex-wrap: wrap;
    text-align: left ;
    max-width: 1000px;
    gap: 20px;
}

.quote .author{
    background-color: #e5e7eb;
    color: #1f2937;
    align-self: flex-end;
    font-size: 24px;
    font-weight: bolder;
    font-style: normal;
    flex-grow: 1;
}

body .quote{
    align-self: center;
}