@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.headerlogo{
    font-size: 24px;
    color: #f9faf8;
    padding: 10px;
    align-self: center;
    font-weight: bold;
}

li a{
   text-decoration: none; 
   color: #f9faf8;
   font-size: 18px;
}

ul{
    padding: 10px;
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.hero{
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-around;
}

.hero .text{
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    flex-wrap: wrap;
    flex-grow: 0;
    height: 300px;
    justify-content: center;
}

.hero .text .secondary{
    font-size: 18px;
    font-weight: normal;
    color: #e5e7eb
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    flex-grow: 0;
    width: 100px;
    align-self: center;
}

.imgplace{
    padding: 100px;
    background-color: gray;
    align-self: center;
    justify-self: center;
}